<% layout('layout') -%>
<% block('head').append('') %>
    <!--Body-->
    <h1>Welcome to <%= title %></h1>
    <p><h3><%= message %></h3></p>
    <!--End body-->
<% block('footer').append(`
    <!--<script src="/javascripts/bootstrap.min.js"></script>-->
`) %>
